<mat-form-field  class="Wide100 p-1 m-1" floatLabel="never">
    <div class="row">
        <div class="col-10">
            <input matInput placeholder="Buscar"> 

        </div>
        <div class="col-2">
            <i class="fas fa-search"></i>
        </div>

    </div>
  </mat-form-field>


<mat-form-field class="Wide100 p-1" appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Option 1</mat-option>
      <mat-option value="2">Option 2</mat-option>
      <mat-option value="3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

<div class="cardBorder m-3">
  <div class="row">
      <div class="col-8">

          <mat-list >
              <ul>
                  <li><p style="font-size: medium;">Nombre: Mario Tábora</p></li>
                  <li><p style="font-size: medium;">Departamento: Sistemas</p></li>
                  <li><p style="font-size: medium;">Estado: <span class="badge bg-success">Activo</span>  </p></li>              
              </ul>
          </mat-list>
      </div>

      <div class="col-2">
        <button  class="Button" routerLink="AgregarColaborador/1" mat-raised-button color="primary"><i style="font-size: 50px;" class="fas fa-chevron-right"></i></button>
      </div>

  </div>

          
 </div>
 
 <div class="cardBorder m-3">
    <div class="row">
        <div class="col-8">
  
            <mat-list >
                <ul>
                    <li><p style="font-size: medium;">Nombre: Leonor Briceño</p></li>
                    <li><p style="font-size: medium;">Departamento: Compras</p></li>
                    <li><p style="font-size: medium;">Estado: <span class="badge bg-warning text-dark">Inactivo</span>  </p></li>              
                </ul>
            </mat-list>
        </div>
  
        <div class="col-2">
          <button  class="Button" routerLink="AgregarColaborador/2" mat-raised-button color="primary"><i style="font-size: 50px;" class="fas fa-chevron-right"></i></button>
        </div>
  
    </div>
  
            
   </div>
 <div class="cardBorder m-3">
    <div class="row">
        <div class="col-8">
  
            <mat-list >
                <ul>
                    <li><p style="font-size: medium;">Nombre: Claudia Medina</p></li>
                    <li><p style="font-size: medium;">Departamento: Mercadeo</p></li>
                    <li><p style="font-size: medium;">Estado: <span class="badge bg-success">Activo</span>  </p></li>              
                </ul>
            </mat-list>
        </div>
  
        <div class="col-2">
          <button  class="Button" routerLink="AgregarColaborador/3" mat-raised-button color="primary"><i style="font-size: 50px;" class="fas fa-chevron-right"></i></button>
        </div>
  
    </div>
  
            
   </div>
