<mat-form-field  class="Wide100 p-1 m-1" floatLabel="never">
    <div class="row">
        <div class="col-10">
            <input matInput placeholder="Buscar por nombre"
            #BuscarEquipo 
            id="search" 
            [(ngModel)]="NombreABuscar" 
            name="NombreABuscar">             
        </div>
        <div class="col-2">
            <i class="fas fa-search"></i>
        </div>

    </div>
  </mat-form-field>



<mat-list role="list">
    <mat-list-item *ngFor="let departamento of Departamentos | buscarDepto: NombreABuscar"    role="listitem" >
        <div class="d-flex justify-content-between w-100 align-item-center">
            <span>{{departamento.Descripcion}}: 
              
                    <p class="card-text" *ngIf="departamento.IdSucursal!=5"><small class="text-muted">Colonial {{departamento.IdSucursal}}</small></p>

                    <p class="card-text" *ngIf="departamento.IdSucursal===5"><small class="text-muted">Oficinas Administrativas</small></p>

              
            </span>
            <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                <mat-icon *ngIf="departamento.Activo" (click)="ObtenerDepartamento(departamento,false)">delete</mat-icon>
                <mat-icon *ngIf="!departamento.Activo" (click)="ObtenerDepartamento(departamento,true)">done</mat-icon>
              </button>
        </div>
    </mat-list-item>
</mat-list>
<mat-divider></mat-divider>




<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->