<mat-list role="list">
    <mat-list-item   role="listitem" >
        <div class="d-flex justify-content-between w-100 align-item-center">
            <span>Balanza</span>
            <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-list role="list">
    <mat-list-item   role="listitem" >
        <div class="d-flex justify-content-between w-100 align-item-center">
            <span>Computadora de escritorio</span>
            <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-list role="list">
    <mat-list-item   role="listitem" >
        <div class="d-flex justify-content-between w-100 align-item-center">
            <span>Computadora Portatil</span>
            <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </mat-list-item>
</mat-list>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>