<app-navbar [showMenuButton]="false" [showBackButton]="true" [descripcion]="'Asignar Equipo'">
</app-navbar>
<div class="d-flex justify-content-center w-100 align-items-center mt-5 p-5 ">
    <form >
        <mat-form-field class="Wide100" appearance="fill">
          <mat-label># de referencia del equipo</mat-label>
          <input matInput placeholder="Buscar por referencia"
          #BuscarReferencia 
          id="search" 
          [(ngModel)]="buscarEqipo" 
          name="buscarEqipo">  
        </mat-form-field>
</form>
</div>
   <mat-card *ngFor="let equipos of Equipos | buscarReferencia: buscarEqipo" class="m-5">
    <mat-list >
        <ul>
            <li><p style="font-size: medium;">Descripción: {{equipos.Descripcion}}</p></li>
             <li><p style="font-size: medium;">Tipo: {{equipos.TipoDeEquipo}}</p></li>
            <li><p style="font-size: medium;">Marca: {{equipos.MarcaEquipo}}</p></li>
            <li><p>Estado:
                <span 
                [ngStyle]="{  
                            'background-color':equipos.Estado === 'Excelente' ? 'green' : 
                             equipos.Estado === 'Bueno' ? 'yellow':
                            'red' }"
                style="font-size: medium;"
                >{{equipos.Estado}}</span> </p></li> 
                <li>
                      <mat-form-field class="Inputs" appearance="fill">
                        <mat-label>Comentario</mat-label>
                        <input  matInput #comentario maxlength="256" >
                  
                      </mat-form-field>
                </li>

        </ul>
    </mat-list>
    <button (click)="AsignarEquipo(equipos)" mat-raised-button color="primary" style="width: 100%;">Asignar Equipo</button>
    
    </mat-card>