<app-navbar [showMenuButton]="false" [showBackButton]="true" [showNav]="ShowDataEdit" [descripcion]="'Editar Empleado'">
</app-navbar>
<div class="d-flex justify-content-center w-100 align-items-center mt-5 p-5 ">
    <form [formGroup]="ColaboradorForm"  *ngIf="ColaboradorForm">

        <mat-form-field class="Inputs" appearance="fill">
          <mat-label>Codigo del empleado</mat-label>
          <input *ngIf="!ShowDataEdit" type="number"  matInput #message maxlength="256" formControlName="CodigoEmpleado">
          <input *ngIf="ShowDataEdit" type="number"  matInput #message maxlength="256" readonly formControlName="CodigoEmpleado">
      
        </mat-form-field>

        <mat-form-field  class="Inputs" appearance="fill">
            <mat-label>Departamento</mat-label>
            <mat-select  
            formControlName="IdDepartamento">
            <mat-option  *ngFor="let depto of Departamentos" 
            [value]="depto.id">
           <strong>{{depto.nombreDepartamento}}:</strong> {{depto.Descripcion}}
            </mat-option>
           </mat-select>

       
        </mat-form-field>
        <button [disabled]="!ColaboradorForm.valid" *ngIf="!ShowDataEdit" (click)="buscarColaborador()" mat-raised-button class="m-3" color="primary">
          <span>Agregar empleado</span> 
       </button>
        <button *ngIf="ShowDataEdit" (click)="RegistrarColaborador()" mat-raised-button class="m-3" color="primary">
          <span >Guardar Cambios</span> 
       </button>
          <button *ngIf="ShowDataEdit" mat-raised-button class="m-3" routerLink="/Colaboradores"  color="warn">Cancelar</button>

      </form>

     
    </div>
  
   