<app-navbar [showMenuButton]="false" [showBackButton]="true" [showNav]="ShowDataEdit" [descripcion]="'Editar Equipo'">
</app-navbar>
<div class="d-flex justify-content-center w-100 align-items-center mt-5 p-5 ">
    <form [formGroup]="EquipoForm"  *ngIf="EquipoForm">
        <mat-form-field class="Wide100" appearance="fill">
            <mat-label>Nombre del equipo</mat-label>
            <input matInput #message maxlength="256" formControlName="Descripcion" placeholder="Ejem. Computadora Dell....">
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>

        <mat-form-field class="Wide100" appearance="fill">
            <mat-label>Marca</mat-label>
            <mat-select  
                formControlName="MarcaEquipo">
                <mat-option  *ngFor="let marca of Marcas" 
                [value]="marca.id"
                (click)="ObtenerMarcaSeleccionada(marca)"
                >{{marca.Descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="Wide100" appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select
            formControlName="TipoDeEquipo">
             <mat-option *ngFor="let tipo of Tipos" 
                [value]="tipo.id" 
                (click)="ObtenerTipoSeleccionado(tipo)">
                {{tipo.Descripcion}}              
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="Wide100" appearance="fill">
            <mat-label>Número de Referencia</mat-label>
            <input matInput #message maxlength="256" formControlName="CodigoReferencia" placeholder="Ejem. Referncia 100000101...">
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>

        <mat-form-field class="Wide100" appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select 
            formControlName="Estado"
            >
                <mat-option [value]="1">Excelente</mat-option>
                <mat-option [value]="2">Bueno</mat-option>
                <mat-option [value]="3">Mal Estado</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox (change)="IsActivo($event)"  *ngIf="ShowDataEdit" [checked]='checked' class="mb-2" color="primary">Activo</mat-checkbox>
        <br>
        <button [disabled]="!EquipoForm.valid" class="m-1" (click)="RegistrarEquipo()" mat-raised-button color="primary">
            <span *ngIf="!ShowDataEdit">Guardar</span>
            <span *ngIf="ShowDataEdit">Actualizar</span>
        </button>
        <button routerLink="/Home" class="m-1" mat-raised-button color="warn">Cancelar</button>
    </form>
</div>
