<mat-toolbar>
  <div class="d-flex justify-content-between w-100 align-items-center">
    <button *ngIf="showMenuButton"  mat-button  mat-icon-button class="example-icon" (click)="onOpenMenu()" aria-label="Example icon-button with menu icon">
     <mat-icon *ngIf="showMenuButton" >menu</mat-icon>
   </button>

   <button *ngIf="showBackButton"  mat-button  mat-icon-button class="example-icon" (click)="back()" aria-label="Example icon-button with menu icon">
    <mat-icon *ngIf="showBackButton" >arrow_back</mat-icon>
  </button>
   <span >{{nombre}}</span>

  </div>
 </mat-toolbar>
 