

@media only screen and (min-width: 300px) and (max-width: 576px) {
    .Imagen{
        margin-left: 40px;
        margin-top: 10px;
        width: 120px;
        height: auto;
    }
  }
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .Imagen{
        margin-left: 15px;
        margin-top: 10px;
        width: 120px;
        height: auto;
    }
  }
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .Imagen{
        margin-left: 15px;
        margin-top: 10px;
        width: 120px;
        height: auto;
    }
  }
@media only screen and (min-width: 992px) and (max-width: 1920px) {
    .Imagen{
        margin-left: 40px;
        margin-top: 10px;
        width: 120px;
        height: auto;
    }
  }