<app-navbar [showMenuButton]="false" [showBackButton]="true" [descripcion]="'Asignacion'">
</app-navbar>
<h1 class="text-center mt-3">Seleccione un departamento</h1>
    <div class="cardBorder m-3" *ngFor="let Depto of Departamentos">
    <div class="row">
        <div class="col-8">
  
            <mat-list >
                <mat-list-item> <p style="font-size: 24px;">{{Depto.Descripcion}}</p> </mat-list-item>
            </mat-list>
        </div>
  
        <div class="col-2">
          <button  class="Button" routerLink="ColaboradoresDepto/{{Depto.id}}" mat-raised-button color="primary"><i style="font-size: 35px;" class="fas fa-chevron-right"></i></button>
        </div>
  
    </div>          
   </div>

