<app-navbar [showMenuButton]="false" [showBackButton]="true" [descripcion]="'Colaboradores'">
</app-navbar>
<mat-card class="m-5">
<h2 class="text-center">Carlos Padilla</h2>
<button mat-raised-button color="primary" style="width: 100%;">Ver equipo asignado</button>
<button mat-raised-button class="mt-2" routerLink="../../Asignar-Equipo/2"  style="width: 100%; background-color: green; color: white;">Asignar equipo</button>

</mat-card>
<mat-card class="m-5">
<h2 class="text-center">Mario Tábora</h2>
<button mat-raised-button color="primary" style="width: 100%;">Ver equipo asignado</button>
<button mat-raised-button class="mt-2" routerLink="../../Asignar-Equipo/2"  style="width: 100%; background-color: green; color: white;">Asignar equipo</button>

</mat-card>