<app-navbar [showMenuButton]="false" [showBackButton]="true" [descripcion]="'Colaboradores'">
</app-navbar>
<mat-card *ngFor="let Colaborador of ColaboradoresPorDepto" class="m-5">
<h2 class="text-center">{{Colaborador.nombre_completo}}</h2>
<button mat-raised-button color="primary" routerLink="../../Equipos-Asignados/{{Colaborador.id}}" style="width: 100%;">Ver equipo asignado</button>
<button mat-raised-button class="mt-2" routerLink="../../Asignar-Equipo/{{Colaborador.id}}"  style="width: 100%; background-color: green; color: white;">Asignar equipo</button>
</mat-card>
